.navbar-expand-lg {
    background-color: #28a745;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav {
    margin-left: auto;
}

.contenedor-tour {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: sans-serif;
  }
  
  .titulo-tour {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contenedor-contenido {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .carousel {
    flex: 1 1 60%;
  }
  
  .carousel img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .panel-lateral {
    flex: 1 1 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .precio {
    text-align: center;
  }
  
  .numero-grande {
    font-size: 28px;
    color: #0b8038;
    font-weight: bold;
  }
  
  .text-body-secondary {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
  }
  
  .btn-comprar,
  .btn-carro,
  .btn-regalar {
    width: 200px;
    padding: 12px;
    font-size: 15px;
    background-color: #0b8038;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn-carro {
    background-color: #ccc;
    color: #333;
  }
  
  .btn-comprar:hover,
  .btn-carro:hover,
  .btn-regalar:hover {
    opacity: 0.9;
  }
  
  .regalo-box {
    background-color: #ffeef0;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    font-size: 14px;
    width: 100%;
  }
  
  .regalo-box h4 {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #d33;
  }
  
  .regalo-box ol {
    margin: 0 0 10px 20px;
    padding: 0;
  }
  
  .vendidos {
    font-size: 13px;
    color: #666;
  }
  

footer {
    background-color: #2ecc71;
    text-align: center;
    padding: 100px;
    padding-bottom: 700px;
    color: white;
}