.navbar-expand-lg{
    background-color: #28a745;
}

.logo-white{
   width: 200;
   height: 50px;
   margin-right: 100px;
    
}

.navbar-nav{
    color:white;
}

.card{
    margin-left: 50px;
    margin-right:35px;
    margin-top:20px;
}

.img_carta{
    height: 400px;
    object-fit: cover; /

}